#ignore python compiled files
*.pyc

#ignore plugin builds 
misc/plugins_src/dds/build_*

#ignore PyCharm project data
.idea

#ignore backup folder
otls/backup

#ignore osx hidden files
.DS_Store

#ignore other files
hip/backup/
tests/hip/export/
hip/export/
hip/render/
forum_post.txt
log.log
log_parser.py

#ignore other unimportant expanded HDA files
.OPfallbacks
.OPdummydefs
.createtimes
.modtimes

#personal workspaces
*.code-workspace
*.bak
